{% extends "mainmenu.html" %}

{% block comman %}
    <h1 align="center">Welcome K.technology</h1>



    {% for x in data %}
        <h4 align="center">Welcome{{ x.Name}}</h4>
        <table align="center" border="2">
            <tr>
                <th>{{ x.Name }}</th>
                <th>{{ x.Age }}</th>
                <th>{{ x.Contact }}</th>
                <th>{{ x.Email }}</th>
                <th>{{ x.Username }}</th>
                <th>{{ x.gender }}</th>
            </tr>
        </table>
    {% endfor %}
    <h4 align="center">{{ data1 }}</h4>
{% endblock%}